*{
    margin:0;
    padding:0;
}
body{
    background-image: url(../images/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
            
span{
    float: left;
}
span > img{
    border:1px solId black;
    border-radius:50%;
}
a{
    text-decoration: none;
    font-family:fantasy,sans-serif;
    color: white;
    margin-top: 25px;
}
ul{
    float:right;
    margin-top: 25px;
}
li{
    display: inline-block;
    width: 120px;
    padding: 20px;
    border: 2px;
    text-align: center;
    font-size:0.8cm;
    justify-content: center;
}
section{
    width:80%;
    height:800px;
    
    margin-left: 140px;
}
.pic_gallery>img{
    width:300px;
    height:200px;
    margin:0 auto;
    margin-top: 1%;

}
h2{
    text-align: center;
    color:white;
    text-shadow: 2px 2px black;
    font-family: monospace;
    font-size: 1.9cm ;
}
footer{
    margin-top: 2%;
    height:200px;
    font-size: 25px;
}
h4{
   float: left;
    margin-left: 70px;
    margin-top: 40px;
}